:root {
  --main-color: #20c997;
  --section-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}
img,
video {
  max-width: 100%;
}
.container {
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
  min-height: 97px;
}
.overlay {
  background-color: rgba(0, 0, 0, 60%);
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.btn {
  padding: 15px;
  border-radius: 50rem;
  margin-top: 15px;
  cursor: pointer;
}
.btn-outline-primary {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.btn-outline-primary:hover {
  background-color: var(--main-color);
  color: #fff;
}
.btn-primary {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary:hover {
  background-color: #1baa80;
}
.btn-outline-grey {
  border: 1px solid grey;
  color: grey;
  background-color: transparent;
}
.btn-outline-grey:hover {
  background-color: grey;
  color: white;
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;

  margin: 0;
}
.special-heading span {
  margin-bottom: 60px;
  font-size: 94px;
  display: block;
  letter-spacing: 5px;
}
.special-heading p {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: -130px;
  position: relative;
}
.special-heading p::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 3px;
  width: 66px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.brief {
  margin-top: 70px;
  padding-left: 10px;
  display: flex;
}
.brief .desc {
  flex-basis: 66%;
}
.brief .desc h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.brief .desc h3 span {
  color: var(--main-color);
}
.brief .desc .para-1 {
  margin-top: 20px;
  line-height: 1.5;
}
.brief .desc .para-2 {
  margin-top: 20px;
  line-height: 1.5;
}
.brief .CV {
  flex-basis: 33%;
  padding-left: 10px;
}
.brief .CV .my-info {
  padding: 14px 0;
}
.brief .CV .my-info:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.brief .CV .my-info p span {
  font-weight: bold;
  color: black;
}
.brief .CV .my-info .email {
  color: var(--main-color);
}
.main-wrapper {
  margin-left: 240px;
}
.main-wrapper .side-bar {
  width: 240px;
  height: 100vh;
  background-color: #111418;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
}
.main-wrapper .side-bar .info {
  text-align: center;
  margin-top: 40px;
}

.main-wrapper .side-bar .img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  display: inline-block;
}
.main-wrapper .side-bar .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-wrapper .side-bar .info h4 {
  color: white;
  font-weight: bold;
  margin: 15px 0;
}
.main-wrapper .side-bar .nav .nav-bar {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  padding-bottom: 15px;
}
.main-wrapper .side-bar .nav .nav-bar .nav-item {
  padding: 10px;
}
.main-wrapper .side-bar .nav .nav-bar .nav-item .nav-link {
  color: white;
}
.main-wrapper .side-bar .nav .nav-bar .nav-item .nav-link:hover {
  color: #20c997;
  cursor: pointer;
}
.main-wrapper .side-bar .social {
  text-align: center;
  margin-bottom: 15px;
}
.main-wrapper .side-bar .social a {
  padding: 0 10px;
  color: white;
}
.main-wrapper .side-bar .social a:hover {
  color: #20c997;
}
.landing {
  background-image: url(../images/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.main-wrapper .content .landing .Welcome-msg {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  position: relative;
}
.main-wrapper .content .landing .Welcome-msg h4 {
  font-weight: 500;
}
.main-wrapper .content .landing .Welcome-msg h1 {
  font-weight: bold;
  display: inline-block;
}
.main-wrapper .content .landing .Welcome-msg h1:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
.main-wrapper .content .landing .Welcome-msg p {
  color: #dee3e4;
}
.about-me {
  padding: var(--section-padding) 0;
}
.statistics {
  margin-top: 20px;
}
.statistics .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.statistics .row .experience {
  flex-grow: 1;
  text-align: center;
}
.statistics .row .experience span {
  color: #6c757d;
  font-size: 67px;
  margin: 0 0 20;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1.5;
}
.statistics .row .experience:not(:last-child) {
  border-right: 1px dotted #e0dede;
}
.statistics .row p {
  text-align: center;
  font-size: 15px;
  color: #4c4d4d;
}
.services {
  background-color: rgba(248, 249, 250, 1);
}
.services .row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.row .service .service-info {
  margin-left: 15px;
  margin-top: 10px;
}
.row .service h6 {
  font-size: 20px;
  margin-bottom: 7px;
}
.row .service p {
  line-height: 1.7;
}
.services .service {
  flex-basis: 47%;
  display: flex;
}
.service .icon {
  width: 70px;
  height: 70px;
  background-color: white;
  text-align: center;
  line-height: 70px;
  border-radius: 5px;
  flex-shrink: 0;
}
.service .icon i {
  color: #20c997;
  font-size: 25px;
}
.summary {
  padding: var(--section-padding) 0;
}
.summary .row {
  display: flex;
  padding-top: 60px;
  gap: 50px;
  justify-content: center;
}

.summary .row .skills {
  flex-basis: 40%;
}
.summary .row .skills h2 {
  padding-bottom: 17px;
}
.summary .row .skills .card {
  border: 1px dotted #dee2e6;
  border-radius: 8px;
  margin-bottom: 50px;
}
.summary .row .skills .card .card-body {
  padding: 15px;
}
.skills .card .card-body .duration {
  background-color: #20c997;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: inline-block;
}
.skills .card .card-body .heading-title {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}
.skills .card .card-body p {
  color: red;
  line-height: 1.8;
  padding-bottom: 15px;
}
.skills .card .card-body .desc {
  color: #4c4d4d;
  line-height: 2;
  margin-bottom: 0;
}
.summary .row .column {
  flex-basis: 50%;
}
.summary .row .progress .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 500;
}
.summary .row .progress .info p {
}
.summary .row .progress .progress-bar {
  background-color: #ddd;
  height: 5px;
  border-radius: 13px;
  position: relative;
  margin-bottom: 10px;
}
.summary .row .progress .progress-bar span {
  background-color: #20c997;
  height: 100%;
  display: inline-block;
  border-radius: 13px;
  position: absolute;
}
.btn-group {
  text-align: center;
}
.my-work .work {
  display: flex;
  list-style: none;
  margin-top: 30px;
  justify-content: center;
}

.my-work .work .work-item {
  padding: 10px;
  color: #7b8084;
}

.my-work .work .work-item:hover,
.my-work .work .work-item.active {
  color: #20c997;
  cursor: pointer;
  border-bottom: 1px solid var(--main-color);
}
.my-work .row {
  display: flex;
  margin-top: 20px;
  gap: 25px;
}
.my-work .row .column .img-container {
  margin-bottom: 25px;
  overflow: hidden;
}
.my-work .row .column .img-container img {
  border-radius: 8px;
}
.my-work .row .column {
  flex-basis: 33%;
}
